---
import { siteConfig } from '../config';
---

{siteConfig.preloader.enable && (
  <div class="preloader">
    <img src={siteConfig.preloader.preloader} alt="preloader" width="405" height="200" />
  </div>
)}
